<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoping card</title>
</head>
<body>
    <h1>Shopping Cart</h1>

{% if shop_item %}
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>User</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for shop in shop_item %}
        <tr>
          <td>{{ shop.object_id }}</td>
          <td>{{ shop.quantity }}</td>
          <td>{{ shop.user_id }}</td>
          <td>{{shop.object_id.price}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<p>Total: {{ shop.object_id.price }}</p>
  
{% else %}
  <p>Your cart is empty.</p>
{% endif %}
</body>
</html>